.blog__login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    background: url(https://source.unsplash.com/1600x800/?nature,water) no-repeat;
    background-size: cover;
}

.member__form {
    width: 100%;
    max-width: 665px;
    border: 1px solid #dedede;
    background: #fff;
    margin: 0 auto;
    padding: 50px;
}
.member__form h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}
.member__form .list li {
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    padding-left: 10px;
}
.member__form .list li::before {
    content: "";
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}
.member__form h4 {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}
.member__form .blue .list {
    background-color: #f5f5f5;
    padding: 20px;
}
.member__form .blue .check {
    display: block;
    margin-top: 10px;
}

.join-intro {
    height: 200px;
    border: 1px solid #dfdfdf;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}
.join-intro .face {
    width: 180px;
    height: 180px;
    margin: 50px auto 0 auto;
    border-radius: 50%;
    background: #b7b7b7;
}
.join-intro .change {
    padding-top: 10px;
}
.join-intro .intro {
    padding-top: 20px;
}
.join-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.join-box input {
    border: 1px solid #dfdfdf;
    width: 100%;
    padding: 15px;
    height: 50px;
    margin-bottom: 30px;
}
.join-box .modify input {
    background: #dfdfdf;
}
.join-box .overlap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join-box .overlap label {
    width: 100%;
}
.join-box .overlap input {
    width: 70%;
    margin-bottom: 0px;
}
.join-box .overlap .test {
    width: 26%;
    background: #f5f5f5;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.join-box .overlap .comment {
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
    color: red;
    margin-bottom: 20px;
}
.join-box .basic input {
    margin-bottom: 0px;
}
.join-box .basic .comment {
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
    color: red;
    margin-bottom: 20px;
}
.join-info {
    margin-top: 150px;
    margin-bottom: 100px;
}
.join-info li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join-info li strong {
    width: 20%;
    font-weight: normal;
    background: #eee;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
}
.join-info li span {
    width: 78%;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 10px;
}
.join-btn {
    display: flex;
    justify-content: space-between;
}
.join-btn a {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #ebe1fc;
    padding: 15px;
    box-sizing: border-box;
    width: 49%;
    transition: all 0.3s;
}
.join-btn a:hover {
    box-shadow: inset 0 0 0 2px #222;
    background: #fff;
}
.join-submit {
    font-size: 16px;
    background: #eee;
    padding: 15px;
    display: block;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
}
.join-submit:hover {
    box-shadow: inset 0 0 0 2px #222;
    background: #fff;
}
